@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #D2386C; /* raspberry sorbet */
}

#column-2 {
  background: #926AA6; /* amethyst orchid */
}

#column-3 {
  background: #00A170; /* mint */
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #e7f3ef;
  }

  #column-1 {
    background-color: #79bea8;
    width: 50%;
  }

  #column-2 {
    background-color: #448d76;
    width: 50%;
  }

  #column-3 {
    background-color: #23483c;
  }

  footer {
    background-color: #093426;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #fef7dc;
    width: 90%;
  }

  #column-1 {
    background-color: #fde281;
    width: 30%;
  }

  #column-2 {
    background-color: #fccb1a;
    width: 30%;
  }

  #column-3 {
    background-color: #b08a03;
    width: 30%;
  }

  footer {
    background-color: #342b09;
    width: 90%;
  }

}
